/GUI/Hallo1/nbproject/private/
/GUI/Lingkaran1/build
/GUI/Lingkaran1/dist
/GUI/Lingkaran1/nbproject/private
/GUI/Persegi1/build
/GUI/Persegi1/nbproject/private
/GUI/Persegi2/build/
/GUI/Persegi2/nbproject/private/
/GUI/ProjectLatihan1/build/
/GUI/ProjectLatihan1/nbproject/private/
/JavaApplication8/nbproject/private/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/Persegi2/nbproject/private/
/Kampus/nbproject/private/
/Kampus/build/
